<div *ngIf="selectedTopic && selectedTopicGroup">
    <!-- TODO: This sint the always the correct pin, lets see if I can make the AI smart enough to split topic info -->
    <!-- <h2>{{selectedTopic.UrlsV2[0].Pin?.Label}}</h2> -->
    <h2>{{selectedTopicGroup.Label}}</h2>
    <p *ngIf="selectedTopicGroup.Description" md-highlight-text="selectedTopicGroup?.Description"
        [innerHtml]="selectedTopicGroup.Description | highlight: selectedTopicGroup.Label">
    </p>
    <!-- It would be nice if this works, but its blocked by FB-->
    <!--    <iframe [src]="facebookLink" style="margin: 0px; padding: 0px; border: none;">
        </iframe>-->
</div>
<div *ngIf="!selectedTopic">
    <h2>placeholder</h2>
</div>