/* Sidebar Content */
h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #4CAF50;
}

p {
    margin: 5px;
}

a {
    /* color: #4CAF50; */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Highlight Classes */
.highlight {
    background-color: #d4edda;
    padding: 5px;
    border-radius: 3px;
}

.incorrect {
    background-color: #f8d7da;
    padding: 5px;
    border-radius: 3px;
}

.smallText {
    font-size: 0.9em;
    /* color: #555; */
}