<div class="map-wrap">
    <div>
        <button (click)="modalService.open('modal-1')">Find specific restaurant type</button>
        <a [href]="fileUrl" download="file.csv">Download Selected Pins</a>
        <span> Pin count : {{selectedPins}}</span>
    </div>

    <a href="https://www.maptiler.com" class="watermark">
        <img src="https://api.maptiler.com/resources/logo.svg" alt="MapTiler logo" /></a>
    <div class="map" #map></div>

    <jw-modal id="modal-1">
        <h1>Slect restaurant type -</h1>
        <button (click)="selectNone()">Select None</button>
        <button (click)="selectAll()">Select All</button>
        <button (click)="selectComplete()">Close</button>
        <div *ngFor="let item of restaurants; let i=index; ">
            <label><input [(ngModel)]="item.Show" type="checkbox" />
                {{item.Name}}
            </label>
        </div>
    </jw-modal>

</div>