<div class="App">
  <div class="container">
    <app-navbar></app-navbar>
    <div class="window">
      <div class="master">
        <app-map [showHotels]="showOptions.ShowHotels" [showStores]="showOptions.ShowStores"
          [showOthers]="showOptions.ShowOthers" [showGMPins]="showOptions.ShowGMPins"
          (selectedTopicGroupChange)="selectedTopicGroup=$event"></app-map>
      </div>

      <div class="detail">
        <app-sidebar [selectedTopicGroup]="selectedTopicGroup"></app-sidebar>
        <app-mapfilters [showHotels]="showOptions.ShowHotels" [showStores]="showOptions.ShowStores"
          (optionsChange)="showOptions=$event"></app-mapfilters>
      </div>
      <div class="empty-div"></div>
    </div>
  </div>
</div>